@charset "utf-8";
html, body {
  width: 100%;
  font-family: Microsoft YaHei Regular, serif;
  font-size: 62.5%;
  background-color: #fafafa;
  -webkit-tap-highlight-color: transparent;
}

h4 {
  font-size: 1.8rem;
  color: #333333;
  font-weight: bold;
}

@mixin w-h($w,$h) {
  width: $w;
  height: $h;
}

header {
  padding: 0 18.75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #FFFFFF;
}

@media (max-width: 576px) {
  header {
    display: none;
  }
}

nav {
  background-color: #29b078;
  padding: 0 18.75%;
}

.service {
  color: #29B078;
  line-height: 3.9rem;
  font-size: 1.4rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*客服热线*/
.icon-top {
  @include w-h(11.1rem, 2.8rem);
  display: flex;
  justify-content: space-between;
  /*顶部图标框*/

  .icon-wx, .icon-qq, .icon-wb {
    @include w-h(2.5rem, 2.4rem);
    background: url("img/img.png") no-repeat;
    margin: 0.2rem;
  }

  .icon-wx {
    background-position: -7.9rem 0;
    background-size: 207.7rem 17.6rem;
  }

  .icon-qq {
    background-position: -2.9rem 0;
    background-size: 207.7rem 17.6rem;
  }

  .icon-wb {
    background-position: -5.4rem 0;
    background-size: 207.7rem 17.6rem;
  }

  /*上面是图标*/
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  height: 10rem;
  justify-content: space-between;

  .pic-top-jns {
    @include w-h(10.7rem, 4.9rem);
    background: url("img/img.png") no-repeat -38.3rem 0;
    background-size: 207.7rem 17.6rem;
    cursor: pointer;
  }

  .nav-box-page {
    margin-left: auto;

    .nav-page {
      display: flex;
      margin-left: -6.3rem;
      font-size: 1.6rem;
      color: #fff;
      align-items: center;

      li {
        margin-left: 6.3rem;
        cursor: pointer;
        line-height: 9.6rem;

        &:hover {
          border-bottom: 4px solid #FEFEFE;
        }
      }
    }
  }
}

label {
  display: inline;
}

.btn-page {
  position: absolute;
  top: 7.4rem;
  right: 18.75%;
  @include w-h(3rem, 3rem);
  background: url("img/首页按钮.png");
  background-size: cover;
}

@media (max-width: 576px) {
  .btn-page {
    top: 3.5rem;
  }
}


@media (max-width: 720px) {
  .nav-box-page {
    display: none;
  }
  .btn-page:checked + .nav-list {
    display: block;
  }
}

//小于720px时文字导航消失，按钮出现，反之相反。

.nav-list {
  text-align: center;
  background-color: #29b078;
  display: none;

  div {
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
  }
}

.btn-page:checked ~ .nav-list {
  display: block;
}

@media (min-width: 720px) {
  .btn-page {
    display: none;
  }
  .nav-list {
    display: none !important;
  }
}

//大于720px，强制下拉菜单隐藏

//以上是header
//以上是header
//以上是header

//以下是手写的栅格布局

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  * {
    box-sizing: border-box;
  }

}

.row {
  margin-left: -15px;
  margin-right: -15px;

  &:before, &:after {
    content: "";
    @include w-h(0, 0);
    display: block;
    clear: both;
  }
}

//row两边清除浮动,防止里面的列（ column ）溢出到其他的行,表示自己的内部元素，不受其他盒子的影响。
[class*="col-"] {
  position: relative;
  float: left;
  width: 8.333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-1 {
  width: 8.33333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 405px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 405px) {
  .container {
    max-width: 360px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 992px) {
  .col-1 {
    width: 50%;
  }

  .col-2 {
    width: 50%;
  }

  .col-3 {
    width: 50%;
  }

  .col-4 {
    width: 50%;
  }

  .col-5 {
    width: 50%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 50%;
  }

  .col-8 {
    width: 50%;
  }

  .col-9 {
    width: 50%;
  }

  .col-10 {
    width: 50%;
  }

  .col-11 {
    width: 50%;
  }

  .col-12 {
    width: 50%;
  }
  .col-x {
    width: 20%;
  }
  .col-v {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .col-1 {
    width: 8.33333333%;
  }

  .col-2 {
    width: 16.66666667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.333333%;
  }

  .col-5 {
    width: 41.666667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.333333%;
  }

  .col-8 {
    width: 66.666667%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.333333%;
  }

  .col-11 {
    width: 91.666667%;
  }

  .col-12 {
    width: 100%;
  }
  .col-x {
    width: 10%;
  }
  .col-v {
    width: 20%;
  }
  //分成10份
}

@media screen and (max-width: 768px) {
  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-5 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .col-7 {
    width: 100%;
  }

  .col-8 {
    width: 100%;
  }

  .col-9 {
    width: 100%;
  }

  .col-10 {
    width: 100%;
  }

  .col-11 {
    width: 100%;
  }

  .col-12 {
    width: 100%;
  }
  .col-x {
    width: 100%;
  }
  .col-v {
    width: 100%;
  }
}

//以上是手写的栅格布局

footer {
  background-color: #26A26F;

  .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-bottom: 3rem;

    .skill-tree, .skill-tree-2 {
      font-weight: bold;
      color: #FFFFFF;
    }

    .skill-tree {
      margin-top: 3.3rem;
      margin-bottom: 7.1rem;
    }

    .skill-tree-2 {
      margin-top: 3.3rem;
    }

    .about-tree-2 {
      margin-top: 2.5rem;
    }

  }

  .code-pic {
    flex-direction: column;
    margin-left: auto;

    .public-address {
      font-size: 1.6rem;
      color: #FFFFFF;
      margin-top: 3.4rem;
      margin-bottom: .7rem;
      font-weight: bold;
      text-align: right;
    }

    /*二维码*/
    .pic-qr-code {
      @include w-h(9.2rem, 9.2rem);
      background: url("img/img.png") no-repeat -29.1rem 0;
      background-size: 207.7rem 17.6rem;
      float: right;
    }

    /*二维码图片*/
  }

  .link-about {
    color: #FFFFFF;
    border-top: 1px solid #32C086;
    padding: 0.7rem 0;
    text-align: center;
    font-size: 1.4rem;
  }
}

.word-about:hover {
  color: #fff;
}

.word-about-1 {
  border-right: 2px solid #FFFFFF;
  padding-right: 1rem;

  &:hover {
    color: #fff;
  }
}

@media (max-width: 992px) {
  .word-friend {
    text-align: center;
  }
  .public-address {
    text-align: left;
  }
  .pic-qr-code {
    float: none;
  }
}


