@charset "utf-8";

@mixin w-h($w,$h) {
  width: $w;
  height: $h;
}

main .banner {
  width: 100%;
  overflow: hidden;

  .box-pic {
    width: calc(100% * 4);
    display: flex;
    animation: banner 10s ease 1s infinite;
    -moz-animation: banner 10s ease 1s infinite;
    -webkit-animation: banner 10s ease 1s infinite;

    &:hover {
      animation-play-state: paused;
      //鼠标移动到轮播图上就停止
    }

    img {
      width: calc(100% / 4);
      cursor: pointer;
    }
  }
}

@keyframes banner {
  0%, 16% {
    margin-left: 0;
  }
  //0到1.6s时
  32%, 48% {
    margin-left: -100%;
  }

  64%, 80% {
    margin-left: -200%;
  }

  100% {
    margin-left: -300%;
  }
  //0%是开头动画，100%是结束动画
}

//上面是轮播图
.content {
  padding: 0;

  .advantage {
    margin-top: 16.5rem;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .advantage {
    margin-top: 3rem;
  }
  .advantage .row {
    margin: 3rem 3rem;
  }
}

.pic-feature-1, .pic-feature-2, .pic-feature-3 {
  margin: 0 auto;
}

/*三个特点图标*/

/*图标外盒子，控制位置*/
.feature-position {
  padding-left: 3.54%;
  padding-right: 2.34%;
  margin-bottom: 6rem;

  .pic-feature {
    @include w-h(6.2rem, 6.2rem);
    display: flex;
    align-items: center;
    margin: 0 auto;

    .pic-feature-1 {
      @include w-h(4.3rem, 6.2rem);
      background: url("img/img.png") no-repeat -13.6rem 0;
      background-size: 207.7rem 17.6rem;
    }

    .pic-feature-2 {
      @include w-h(6rem, 4.8rem);
      background: url("img/img.png") no-repeat -23.1rem 0;
      background-size: 207.7rem 17.6rem;
    }

    .pic-feature-3 {
      @include w-h(5.2rem, 5.5rem);
      background: url("img/img.png") no-repeat -17.9rem 0;
      background-size: 207.7rem 17.6rem;
    }

    .icon-people {
      @include w-h(1.3rem, 1.3rem);
      background: url("img/img.png") no-repeat 0 0;
      background-size: 207.7rem 17.6rem;
    }

    /*四个图标*/
  }

  .word-feature {
    text-align: center;
    margin-top: 3.3rem;
  }

  /*特点标题*/

  .word-feature-2 {
    font-size: 1.6rem;
    color: #999999;
    white-space: normal;
    margin-top: 2rem;
    text-align: center;
  }

}

/*特点小盒子*/

.feature-position-1 {
  border-left: 1px dotted #DEDEDE;
  padding-top: 5.5rem;
  padding-left: 5.7rem;

  .pic-people {
    display: flex;
    flex-direction: column;
    align-items: center;

    .people {
      display: flex;
      align-items: center;

      .num-people {
        color: #26A26F;
        font-size: 1.8rem;
        margin-left: 1.4rem;
      }

    }

    .content-people {
      color: #999999;
      font-size: 1.8rem;
      margin: 1rem 0;
    }

    /*在线人数文字大小*/

  }

}

/*特点正文*/

.word-study {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5.4rem;
}

/*标题如何学习*/

.step {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  padding: 0;

  .step-num {
    @include w-h(7rem, 7rem);
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px 0 rgba(8, 1, 3, 0.15);
    line-height: 7rem;
    text-align: center;
    /*步骤框*/

    .word-num {
      font-size: 1.8rem;
      color: #29B078;
    }
  }

  .word-step {
    font-size: 1.4rem;
    color: #999999;
    padding: 0 2rem;
    flex: 1;
  }

  /*步骤的字设置*/
  .step-arrow {
    @include w-h(3.2rem, 3rem);
    background: url("img/img.png") no-repeat -10.4rem 0;
    background-size: 207.7rem 17.6rem;
    margin-right: 1rem;
  }

  /*箭头*/
}

@media (max-width: 992px) {
  .study .display-arrow {
    display: none;
  }
}

@media (max-width: 772px) {
  .study .step-arrow {
    display: none;
  }
}

@media (max-width: 576px) {
  .study .p-study {
    margin: 0 3rem;
    overflow: hidden;
  }
}

.portrait {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  margin-top: 1.8rem;
  margin-bottom: 5rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 3px 0 rgba(8, 1, 3, 0.15);
  border-radius: 0.4rem;

  .portrait-people-1 {
    background: url("img/img.png") no-repeat -81.4rem 0;
    background-size: 207.7rem 17.6rem;
  }

  .portrait-people-2 {
    background: url("img/img.png") no-repeat -59.8rem 0;
    background-size: 207.7rem 17.6rem;
  }

  .portrait-people-3 {
    background: url("img/img.png") no-repeat -49rem 0;
    background-size: 207.7rem 17.6rem;
  }

  .portrait-people-4 {
    background: url("img/img.png") no-repeat -70.6rem 0;
    background-size: 207.7rem 17.6rem;
  }

  .card-title {
    margin: 2.3rem auto;
  }

  .card-word {
    font-size: 1.6rem;
    color: #999999;
    margin-bottom: 3.4rem;
    padding: 0 3.2rem;
  }

  /*学员卡片边距*/

}

/*学员介绍框*/

.portrait-people-1, .portrait-people-2, .portrait-people-3, .portrait-people-4 {
  @include w-h(10.8rem, 10.8rem);
  margin-top: 1.9rem;
  margin-bottom: 1rem;
}

/*学员头像*/


.cooperation {
  text-align: center;
  margin-top: 12.9rem;
  margin-bottom: 6.8rem;
}

.icon-company-1 {
  background: url("img/alibaba.png") no-repeat;
}

.icon-company-2 {
  background: url("img/St97DV3v.png") no-repeat;
}

.icon-company-3 {
  background: url("img/V528201337F9_L.png") no-repeat;
}

.icon-company-4 {
  background: url("img/矩形 16 拷贝 3.png") no-repeat;
}

.icon-company-5 {
  background: url("img/七牛.png") no-repeat;
}

/*以上是企业图标*/

.icon-company {
  height: 17.6rem;
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
  background-color: #FFFFFF;
  background-position: center;
}


.box-company .icon-company:hover {
  box-shadow: 0 0 0.5rem rgba(8, 1, 3, 0.3);
  z-index: 1000;
}

/*卡片hover阴影*/

.bottom-background {
  background-color: #FFFFFF;
  width: 100%;

  .friendly-link {
    text-align: center;
    margin-top: 9.3rem;
    margin-bottom: 2.8rem;
    padding-top: 2.1rem;

  }

  .word-friend {
    margin-bottom: 2.1rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #999999;
    padding-left: 0;

    .link-bottom {
      color: #999999;
    }
  }
  .box-friend li {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: .4rem;
      height: .4rem;
      border-radius: 50%;
      background-color: #999999;
      top: 50%;
      margin-top: -.2rem;
      margin-left: -1.4rem;
    }
  }

  //友情链接的小圆点
}

/*友情链接文字*/

